:root {
  --font-color: #000000;
}

a {
  background-color: transparent;
}
body {
  margin: 0;
}
#content {
  display: flex;
  flex-direction: column;

  align-items: center;
  background: rgb(211, 211, 194);
  background: linear-gradient(
    90deg,
    rgb(247, 245, 144) 0%,
    rgb(248, 164, 131) 100%
  );
  font-family: "Norse Regular", "Share Tech Mono", monospace;
  color: var(--font-color);
}
.card {
  margin: 20px;
  border: 5px solid rgba(217, 255, 0, 0.897);
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  font-family: "Caveat", sans-serif;
  font-size: 1.7em;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.card:hover{
  box-shadow: 0 0 40px rgba(255, 196, 0, 0.781);
  transform: scale(1.25);
  z-index: 3;
}

.carrosselequipe{
  width: 48rem;

}
.footer {
  display: flex;
  justify-content: space-around;
  margin: 2em 0 0 0;
  padding: 1em;
  width: 95vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0 0;
  font-family: "Norse Regular", "Share Tech Mono", monospace;
  z-index: 1;
}
.footer a {
  text-decoration: none;
  color: var(--font-color);
}
.footer a:hover {
  color: rgb(255, 157, 135);
}
.footer-sobre{
  color: whitesmoke;
}
.footer .footer-sobre{
  color: whitesmoke;
}
.fundo{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0%;
  z-index: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
.header {
  font-family: "Norse Regular", "Share Tech Mono", monospace;
  background-color: rgba(0, 0, 0, 0.1);
  width: 95vw;
  display: flex;
  justify-content: center;
  padding: 1%;
}
.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  text-decoration: none;
  color: var(--font-color);
}
.header a img {
  height: 300px;
  width: 300px;
  margin-left: 30px;
}
.header-title {
  font-size: 4em;
  padding: 0;
  margin: 0.2em;
  border: 0;
}
.header-subtitle {
  font-size: 1.5em;
  padding: 0;
  margin: 0.1em;
  border: 0;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
 
#last-recipe {
  grid-column-start: 2;
}
.layoutItens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
li {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  margin: 4px;
  text-align: center;
}
.logoEntrada {
  width: 200px;
  height: 200px;
}
main {
  display: block;
}

.navbar{
  z-index: 1;
}
.recipe-pages-list {
  display: grid;
  align-content: space-evenly;
  width: 70svw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  list-style: none;
  font-size: 1.2em;
  padding-right: 0%;
}

.recipe-pages-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.recipe-pages-list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 17px;

  color: var(--font-color);
}
.recipe-img {
  width: 16em;
  height: 12em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.recipe-img:hover {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.section-bg {
  display: block;
  block-size: auto;
}
.social{     
  width: 30px;
  margin-left: 30px;    
}
.socialmedia{
  display: flex;
  flex-direction: row;
  margin: 10px;
  z-index: 1;
}

.sc-sobre{
  color: whitesmoke
}
sub {
  font-size: 0.5em;
}
#subtitulo {
  text-align: center;
  font-family: "Caveat", cursive;
  font-size: 2.5em;
  font-weight: bold;
}
strong {
  font-weight: bolder;
}


@media screen and (min-width:344px){
  .layoutItens{
    .card{
      width: 260px;
      font-size: 0.9em;
      margin: 5px; 
      height: 200px;     
    }
    .card-img-top{
      height: 100px;
    }
  }
  .socialmedia{
    font-size: 12px;
    align-items: center;
  }

  .recipe-pages-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50svw;
  }
  .recipe-img {
    width: 12em;
    height: 8em;
  }
}
@media screen and (max-width: 480px){
  .layoutItens{
    .card{
      width: 270px;
      font-size: 0.9em;
      margin: 5px; 
      height: 200px;     
    }
    .card-img-top{
      height: 100px;
    }
  }
  .socialmedia{
    font-size: 12px;
    align-items: center;
  }
}
@media screen and (min-width: 481px){
  .layoutItens{
    .card{
      width: 270px;
      font-size: 1.1em;
      margin: 5px; 
      height: 240px;     
    }
    .card-img-top{
      height: 100px;
    }
  }
  .socialmedia{
    font-size: 12px;
    align-items: center;
  }
}
@media screen and (min-width: 768px){
  .layoutItens{
    .card{
      width: 270px;
      font-size: 1.2em;
      margin: 5px; 
      height: 280px;     
    }
    .card-img-top{
      height: 160px;
    }
  }
  .socialmedia{
    font-size: 12px;
    align-items: center;
  }
}
@media screen and (min-width: 1024px){
  .layoutItens{
    .card{
      width: 270px;
      font-size: 1.5em;
      margin: 15px; 
      height: 360px;     
    }
    .card-img-top{
      height: 190px;
    }
  }
  .socialmedia{
    font-size: 18px;
    align-items: center;
  }
}




















